body{
    background-color:white;
    font-family:Arial, Helvetica, sans-serif;
}

#header{
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    /*text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;*/
}

#container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:auto;
    margin-left:auto;
    flex-wrap:wrap;
    max-width:250px;
}

.square{
    height:25px;
    width:25px;
    border: 3px solid black;
    background:white;
}

.colored{
    background:black;
}

.erase{
    background-color:#008CBA;
    border-radius: 5px;
    padding:10px;
}